.about-title {

    text-align: center;
    margin: 100px 0 150px 0;
}

.about-title h1 {

    font-family: "Poppins", sans-serif;
    font-weight: 450;
    color: #003049;
}

.about-title h3 {

    margin-top: 20px;
    color: #003049;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 400px;
}

.developerName {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    color: #003049;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.bioDescription {
    background-color: #d5aeae;
    border: 2px solid #4d0000;
    border-radius: 20px;
    padding: 2rem;
    padding: 50px;
    margin-bottom: 100px;
}

.bioDescription p {

    color: #4d0000;
}