.btn-outline-success {
  background-color: #ccd5ae;
  border: 1px solid #003049;
  color: #003049;
  transition: 0.3s ease;
}

.btn-outline-success:hover {
  background-color: #b0cc8a;
  color: #003049;
}

.get-accepted-container {

  display: flex;
  flex-direction: column;
  color:#003049;
  align-items: center;
  margin: 50px 200px;
}

.get-accepted {

  color:#003049;
  background-color: #e0e0a3;
  width: 100%;
  text-align: center;
  margin: 50px 0;
  padding: 50px;
  border-radius: 20px;
}

.get-accepted h2 {}

#listings-container {

  margin-bottom: 50px;
}

#find-work {
  font-family: "Poppins", sans-serif;
  color: #003049;
}

#find-work h1 {
  font-weight: 500;
  text-align: center;
  padding-top: 50px;
}

#find-work-search {
  width: 25%;
  margin: auto;
  padding-top: 20px;
}

#find-work-search-bar {
  border-color: transparent;
  box-shadow: none;
  border: 1px solid #003049;
  color: #003049;
}

#find-work-search-button {
  padding-left: 10px;
}

#listings-container {
  padding-top: 100px;
}
