footer {
  text-align: center;
  padding: 100px 0 20px 0px;
  border-top: 1px solid #0B5ED7;
  background-color: #0a142f;
  color: #eeede1;
}

footer p {
  opacity: 0.85;
}

#footer-motto {
  font-size: 20px;
  padding-bottom: 15px;
}

#footer-heading {
  padding-bottom: 40px;
}

#contact-us-btn {
  border-radius: 25px;
  padding: 10px 40px 10px 40px;
}

#contact-us-btn a {
  text-decoration: none;
  color: white;
}

#icon-container {
  display: flex;
  justify-content: center;
  padding: 30px 0px 60px 0px;
}

.social-icon {
  width: 6%;
  font-size: 50px;
}

.social-icon a {
  cursor: pointer;
  color: white;
  transition: color 0.25s ease;
}

.social-icon a:hover {
  color: #4F8FF7;
}
