header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 200px;
  align-items: center;
}

.header-left h1:hover {
  cursor: pointer;
}

.header-center {
  display: flex;
  flex-direction: row;
}

.header-center h1 {
  margin: 0 30px;
  font-size: 20px;
  transition: 0.1s ease;
}

.header-center h1:hover {
  color: #4a5a6a;
  cursor: pointer;
}

.header-left h1,
.header-right h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  color: #003049;
}

.signup-btn h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 3px;
}

.signup-btn {
  background-color: #ccd5ae;
  padding: 5px 25px;
  border-radius: 10px;
  border: 1px solid #4a5a6a;
  transition: 0.3s ease;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.signup-btn:hover {
  cursor: pointer;
  background-color: #b0cc8a;
}

.activeNav {
  color: #003049;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.restNav {
  text-decoration: none;
  color: #003049;
  font-weight: 350;
}

.no-underline {
  text-decoration: none;
}

.loggedin-container {

  display: flex;
  flex-direction: row;
  align-items: center;
}

.loggedin-container:hover {

  cursor: pointer;
}

.loggedin-container:hover h1 {

  color: #00507F;
}

.loggedin-container:hover .profile-pic-container {

  border: 2px solid #00507F;
}

.loggedin-container:hover .profile-pic {

color: #00507F;
}

.loggedin-container h1 {

  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #003049;
  margin: 0 10px 0 0;
  transition: 0.3s ease;
}

.profile-pic-container {

  border: 2px solid #003049;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.profile-pic {

  color: #003049;
  font-size: 20px;
  transition: 0.3s ease;
}

.offcanvas-header, .offcanvas-body {

  background-color: #eeede1;
  color: #003049;
}

.btn-close {

  border-color: #003049;
}