.homepage-container {
  margin: 100px 200px;
  display: flex;
  flex-direction: column;
}

.first-homepage-section {
  display: flex;
  flex-direction: row;
}

.front-left P .maintext-homepage {
  max-width: 700px;
  margin-bottom: 30px;
}

.maintext-homepage h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #003049;
}

body.dark .maintext-homepage h1 {
  color: #eeede1;
}

.subtext-homepage {
  max-width: 700px;
}

.subtext-homepage p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #003049;
}

body.dark .subtext-homepage p {
  color: #eeede1;
}

.special-span {
  font-weight: 550;
}

.getstarted-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
}

.getstarted-container p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 0 30px;
  color: #003049;
}

body.dark .getstarted-container p {
  color: #eeede1;
}

.getstarted-btn {
  background-color: #ccd5ae;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s ease;
  border: 1px solid #9ccc7a;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body.dark .getstarted-btn {
  background-color: #4a8d55;
  border: 1px solid #29903b;
}

.getstarted-btn:hover {
  background-color: #1f6e2c;
  cursor: pointer;
}

body.dark .getstarted-btn:hover {
  background-color: #1f6e2c;
}

.getstarted-btn h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #004d00;
  margin: 0;
  text-decoration: none;
}

body.dark .getstarted-btn h1 {
  color: #eeede1;
}

.no-link {
  text-decoration: none;
}

.offset-line {
  color: inherit;
  text-underline-offset: 3px;
}

.front-right {
  margin-left: 120px;
}

.frontpage-photo {
  margin-bottom: 20px;
}

.frontpage-photo img {
  width: 700px;
  border-radius: 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.brand-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ind-stat h2,
.ind-stat h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #003049;
}

body.dark .ind-stat h2,
body.dark .ind-stat h3 {
  color: #eeede1;
}

.ind-stat h2 {
  font-size: 20px;
}

.ind-stat h3 {
  font-size: 15px;
}

.second-homepage-section {
  margin: 100px 0;
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: space-between;
}

.fullstack-block {
  background-color: #aec5d5;
  width: 450px;
  text-align: center;
  padding: 60px 10px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body.dark .fullstack-block {
  background-color: #2f4150;
}

.fullstack-block h1,
.fullstack-block p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 20px 0;
  color: #1e3242;
}

body.dark .fullstack-block h1,
body.dark .fullstack-block p {
  color: #eeede1;
}

.fullstack-block h1 {
  font-size: 30px;
}

.fullstack-block p {
  font-size: 15px;
}

.design-block {
  background-color: #ccd5ae;
  width: 450px;
  text-align: center;
  padding: 60px 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body.dark .design-block {
  background-color: #4c6756;
}

.design-block h1,
.design-block p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 20px 0;
  color: #004d00;
}

body.dark .design-block h1,
body.dark .design-block p {
  color: #eeede1;
}

.design-block h1 {
  font-size: 30px;
}

.design-block p {
  font-size: 15px;
}

.database-block {
  background-color: #d5aeae;
  width: 450px;
  text-align: center;
  padding: 60px 10px;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body.dark .database-block {
  background-color: #502f2f;
}

.database-block h1,
.database-block p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 20px 0;
  color: #4d0000;
}

body.dark .database-block h1,
body.dark .database-block p {
  color: #eeede1;
}

.database-block h1 {
  font-size: 30px;
}

.database-block p {
  font-size: 15px;
}

.third-homepage-section {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}

.third-homepage-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #003049;
  font-size: 50px;
}

body.dark .third-homepage-section h1,
body.dark .third-homepage-section p {
  color: #eeede1;
}

.third-homepage-section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #003049;
  margin-top: 20px;
  font-size: 20px;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 100px 0;
}

.info-div {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #e0e0a3;
  text-align: center;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body.dark .info-div {
  background-color: #1a1a1a;
}

.info-div h2 {
  color: #003049;
  font-weight: 500;
  margin: 20px 0px 30px 0px;
}

body.dark .info-div h2,
body.dark .info-div h3 {
  color: #eeede1;
}

.info-div h3 {
  color: #003049;
  font-weight: 400;
  font-size: 20px;
}

.join-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #aec5d5;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body.dark .join-us-section {
  background-color: #2f4150;
}

.wildest-span {
  color: #800000;
  font-family: "Edu AU VIC WA NT Pre", sans-serif;
}

body.dark .wildest-span {
  color: #61dbfb;
}

.join-us-section h1 {
  font-weight: 400;
  color: #003049;
  font-size: 50px;
}

body.dark .join-us-section h1 {
  color: #eeede1;
}

.join-us-btn {
  background-color: #eeede1;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  margin: 20px;
  transition: ease 0.1s;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.join-us-btn:hover {
  background-color: #d6d5c9;
  cursor: pointer;
}

.join-us-btn h2 {
  font-size: 24px;
  font-weight: 450;
  color: #003049;
  text-decoration: none;
  margin: 0;
}

.no-dec {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .getstarted-btn {
    text-align: center;
  }

  .homepage-container {
    margin: 50px 25px;
  }

  .first-homepage-section {
    display: flex;
    flex-direction: column;
  }

  .maintext-homepage h1 {
    font-size: 30px;
  }

  .subtext-homepage p {
    margin-top: 20px;
  }

  .front-right {
    margin: 0;
  }

  .frontpage-photo {
    display: flex;
    justify-content: center;
  }

  .frontpage-photo img {
    margin-top: 50px;
    width: 350px;
  }

  .ind-stat h3 {
    font-size: 14px;
  }

  .second-homepage-section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .fullstack-block,
  .database-block,
  .design-block {
    width: 350px;
    border-radius: 20px;
    margin: 20px 0;
    padding: 10px;
  }

  .third-homepage-section {
    margin: 0;
  }

  .third-homepage-section h1 {
    font-size: 40px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
  }

  .info-div {
    width: 350px;
    height: 400px;
    margin: 20px 0;
  }

  .join-us-section h1 {
    font-size: 40px;
  }
}
