#listing-card {
  width: 24rem;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 2px gray;
  background-color: #5A5A5A;
  color: rgba(255, 255, 255, 0.8);
}

#card-poster {
  color: rgba(255, 255, 255, 0.6);
}

#card-price {
  float: right;
  padding-right: 15px;
  font-size: 24px;
}
