#post-job-heading {
  text-align: center;
  padding-top: 50px;
}

#post-job-heading p {
  font-size: 24px;
}

#post-listing-button-container {
  width: 50%;
  float: right;
}

#post-listing-button {
  width: 50%;
  float: right;
}

/* * Your Current Listings * */

#your-listings-text {
  text-align: center;
  padding-top: 100px;
}

#your-listings-container {
  padding-top: 50px;
}
